/* generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
}

/* inizio menù */
.row{
    width: 80%;
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
    line-height: 80px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

header{
    background-color: #3161e0;
}

.box15 img{
    vertical-align: middle;
}

.box15{
    width: 15%;
    float: left;
    display: inline-block;
}

header .row div:first-child{
    text-align: left;
}

header .row div:last-child{
    text-align: right;
}

header nav{
    width: 70%;
    float: left;
    display: inline-block;
}

header ul{
    text-align: center;
}

header nav a{
    padding: 0px 20px;
    color: white;
}

.bottone1{
    color: black;
    background-color: white;
    border-radius: 40px;
    padding: 8px 10px;
}
/* fine menù */



/* inizio banner */
.jumbotron{
    background-image: url('img/jumbo.png');
    background-position: center;
    background-size: cover;
    min-height: 600px;
    position: relative; 
}

.row2{
    width: 50%;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    height: 100%;
    position: absolute;
    top: 440px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 60px;
}

.subtitle{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.jumbotron .row2 div:first-child{
    color: white;
}

.bottone-big{
    border-radius: 40px;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 500;
}

.bott-white{
    background-color: white;
    color: black;
}

.bott-black{
    background-color: #23272a;
    color: white;
}

.jumbotron #tastiera a{
    margin: 0px 8px;
}

#tastiera{
    margin-top: 40px;
}

.fas{
    margin-right: 8px;
}
/* fine banner */

/* inizio centro */

main .row{
    padding: 50px 0px;
}

main .row img{
    object-fit: cover;
    height: auto;
}

main .row div:first-child{
    width: 60%;
    float: left;
}

main .row div:last-child{
    width: 30%;
    float: right;
    color: #23272a;
}

#greyrow{
    background-color: #f6f6f6;
}

#variante1{
    float: left;
    width: 30%;
}

#variante2{
    float: right;
    width: 60%;
}

#greywave{
    margin: -10px;
    padding: 0;
}

#center{
    text-align: center;
    width: 70%;
}

#text-stars{
    background-image: url('img/stars.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    padding: 0px 40px;
    font-size: 30px;
}

.block{
    display: block;
}

.bottone-small{
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 500;
}

.bott-purple{
    background-color: #8ea1e1;
    color: white;
}
/* fine centro */

/* inizio footer */
footer{
    background-color: #23272a;
}

/* inizo colonne */
footer .row:first-child{
    padding-top: 50px;
    padding-bottom: 20px;
}

.box40{
    width: 40%;
    float: left;
    display: inline-block;
    height: 100%;
}

footer .box40 h2{
    color: #8ea1e1;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}

footer .fab{
    color: white;
    margin-right: 10px;
    font-size: 20px;
}

.flag{
    color: white;
    line-height: 30px;
    margin-top: 15px;
}

.italy{
    width: 30px;
    vertical-align: middle;
}

footer .row .box15{
    line-height: 30px;
}

footer .row .box15 h3{
    color: #8ea1e1;
    font-weight: 700;
    font-size: 15px;
}

footer .row .box15 ul li{
    color: white;
    list-style: none;
    font-size: 15px;
}

.box50{
    width: 50%;
    display: inline-block;
}

footer .row:last-child{
    line-height: 50px;
    padding: 10px 0;
    
}

.bordo{
    margin-top: 10px;
    border-top: 1px solid #8ea1e1;
}

footer .row div:first-child{
    text-align: left;
    float: left;
}

.box50 img{
    vertical-align: middle;
}

footer .row:last-child div:last-child{
    text-align: right;
    float: right;
    vertical-align: middle;
}
/* fine footer */